* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .p-1 {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 130%;
    font-weight: 200;
  }
}
@media screen and (max-width: 960px) {
  .menu-hidden {
    display: none;
  }
}
.color-gray {
  color: #777;
}

.grid-1 {
  width: calc(8.33333% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.grid-2 {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.grid-3 {
  width: calc(25% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.grid-4 {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.grid-5 {
  width: calc(41.66667% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.grid-6 {
  width: calc(58.33333% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

@media screen and (max-width: 960px) {
  .grid-6 {
    width: calc(100% - 8px);
    float: none;
  }
  .grid-5 {
    width: calc(100% - 8px);
    float: none;
  }
  .grid-3 {
    width: calc(100% - 8px);
    float: none;
  }
}
.grid-photos {
  max-height: 720px;
}

@media screen and (max-width: 960px) {
  .grid-photos {
    max-height: 480px;
  }
}
.grid-photo-1 {
  -webkit-animation: grid-photo-1 10s ease infinite alternate;
          animation: grid-photo-1 10s ease infinite alternate;
}

.grid-nobreak-6 {
  width: calc(50% - 8px);
  margin: 4px;
  padding: 16px 0px;
  float: left;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-columm {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
h1, h2, h3, h4, h5, h6, a {
  font-family: "Barlow Condensed", sans-serif;
  color: #F5F7F7;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  color: #777;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 200;
}

.link {
  padding: 8px 24px;
  font-size: 24px;
  transition: 0.5s ease;
  display: inline-block;
  position: relative;
}
.link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  transform: translate(35%, -50%);
  transition: 0.5s ease;
  background-color: #F5F7F7;
}
.link:hover {
  opacity: 0.6;
}
.link:hover::after {
  width: 60%;
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-size: 72px;
  line-height: 110%;
}

h3 {
  font-size: 40px;
  line-height: 115%;
}

h4 {
  font-size: 32px;
  line-height: 120%;
}

h5 {
  font-size: 24px;
  line-height: 130%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: "Saira", sans-serif;
    font-size: 56px;
    line-height: 110%;
    font-weight: 400;
  }
  h2 {
    font-family: "Saira", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
  }
  .work-h2 {
    font-family: "Saira", sans-serif !important;
    font-size: 40px !important;
    line-height: 100% !important;
    font-weight: 300 !important;
  }
  h3 {
    font-family: "Saira", sans-serif;
    font-size: 24px;
    line-height: 130%;
    font-weight: 200;
  }
  h5 {
    font-family: "Saira", sans-serif !important;
    font-size: 14px !important;
    line-height: 150% !important;
    font-weight: 500 !important;
  }
  .sect div h2 {
    font-family: "Saira", sans-serif !important;
    font-size: 40px !important;
    line-height: 100% !important;
    font-weight: 300 !important;
  }
}
.mask {
  background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);
  transition: 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-hud1:hover {
  transition: 0.5s ease;
  transform: translate(-5%);
}

.animate-hud2:hover {
  transition: 0.5s ease;
  transform: translate(5%);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.square {
  display: inline-block;
  margin-top: 64px;
  font-size: 24px;
  padding: 16px 24px;
  position: relative;
}
.square::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 120px;
  height: 120px;
  transform: translate(-5%, -22%) rotate(45deg);
  background: linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0) 100%);
  border-radius: 4px;
  transition: 0.5s ease;
}
.square:hover::after {
  transform: translate(-5%, -22%) rotate(80deg);
}

.color-blue {
  color: #2DC7ED;
}

.icon-social-networks {
  max-width: 36px;
  transition: 0.5s ease;
}

body {
  width: 100%;
  background-color: #050607;
}

@media screen and (max-width: 960px) {
  body {
    background-color: #050607;
  }
}
.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pr-10 {
  padding-right: 160px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

@-webkit-keyframes grid-photo-1 {
  0% {
    transform: translate3d(0, -70%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes grid-photo-1 {
  0% {
    transform: translate3d(0, -70%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #2DC7ED;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #2DC7ED;
  }
}
@-webkit-keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(240deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(240deg);
  }
}
@-webkit-keyframes letterIF {
  0%, 10% {
    fill-opacity: 0;
    stroke-dasharray: 0 400;
  }
  60% {
    fill-opacity: 0;
    stroke-dasharray: 400 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 400 0;
  }
}
@keyframes letterIF {
  0%, 10% {
    fill-opacity: 0;
    stroke-dasharray: 0 400;
  }
  60% {
    fill-opacity: 0;
    stroke-dasharray: 400 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 400 0;
  }
}
@-webkit-keyframes letterIF-logo {
  0%, 10% {
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
  60% {
    stroke-dasharray: 500 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}
@keyframes letterIF-logo {
  0%, 10% {
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
  60% {
    stroke-dasharray: 500 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}
header {
  width: 100%;
  position: fixed;
  z-index: 998;
  background-color: transparent;
  transition: 1s ease;
  display: block;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%);
  transition: 3s ease;
}

.navbar {
  width: 100%;
  padding: 24px 24px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
}

@media screen and (max-width: 960px) {
  .menu {
    justify-content: center;
  }
}
.nav-a {
  display: inline-block;
  color: #FAFCFC;
  position: relative;
  transition: 0.7s ease;
  padding: 8px 16px;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 100;
  text-transform: uppercase;
}

.img-logo:hover {
  -webkit-animation: letterIF-logo 2.5s ease infinite;
          animation: letterIF-logo 2.5s ease infinite;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .flex-end {
    display: none;
  }
}
.relative {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 400px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
  .container {
    flex-direction: column;
    height: auto;
    padding: 144px 8px 32px 8px !important;
  }
}
.container-item:nth-child(1) {
  flex-grow: 3;
  max-width: 700px;
  margin: 40px 0px;
  margin-right: 20px;
}

.container-item:nth-child(2) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex;
  margin: 40px 0px;
}
.container-item:nth-child(2) img {
  max-width: 400px;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .container-item:nth-child(2) img {
    display: none;
  }
  .container-item:nth-child(1) {
    margin: 0;
  }
}
.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}
@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(25deg);
  }
}
.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-item a:hover + .img-project {
  transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .list-item {
    -webkit-box-orient: vertical;
    padding: 32px 16px;
  }
}
.img-project {
  max-width: 720px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s ease;
  z-index: -1;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) scale(0) skewX(90deg);
}

.bb-gray {
  border-bottom: 1px solid #15171A;
}

.aboutme {
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 24px;
  box-sizing: border-box;
}
.aboutme::after {
  content: "";
  display: table;
  clear: both;
}

.aboutme div {
  display: block;
  filter: blur(0px);
}

.aboutme h2 {
  color: #F5F7F7;
  font-family: "Saira", sans-serif;
  font-size: 52px;
  line-height: 100%;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .aboutme {
    flex-direction: column;
    padding: 32px 16px;
  }
}
h5 {
  text-transform: uppercase;
  color: #F5F7F7;
  font-family: "Saira", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  transition: 0.5s ease;
  background: linear-gradient(90deg, #4CDCFF 0%, #3661D1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5:hover {
  padding-left: 8px;
}

.pp {
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 200;
  color: #777;
}

.blur1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 200;
  background: linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%), linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%), linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%);
}

.blur2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 200;
  transform: rotate(180deg);
  background: linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%), linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%), linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%);
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.photo {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: 1s ease;
}
.photo:hover {
  filter: grayscale(0);
}

.sect {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
}
.sect::after {
  content: "";
  display: table;
  clear: both;
}

.sect div {
  filter: blur(0px);
  box-sizing: border-box;
}

.sect h2 {
  color: #F5F7F7;
  font-family: "Saira", sans-serif;
  font-size: 52px;
  line-height: 100%;
  font-weight: 300;
}

.sect-anim {
  white-space: nowrap;
  font-family: "Saira", sans-serif;
  font-size: 40px;
  font-weight: 300;
  width: 54%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  border-right: 0.15em solid #2DC7ED;
  margin: 0 auto;
  letter-spacing: 0.15em;
  -webkit-animation: blink-caret 0.7s infinite;
          animation: blink-caret 0.7s infinite;
}

@media screen and (max-width: 960px) {
  .sect {
    flex-direction: column;
    padding: 32px 16px;
  }
  .sect-anim {
    font-family: "Saira", sans-serif;
    font-size: 15px;
    line-height: 120%;
    font-weight: 300;
  }
}
#square1 {
  transform-origin: center center;
  transform-box: fill-box;
  -webkit-animation: rotate1 3s ease-in infinite alternate;
          animation: rotate1 3s ease-in infinite alternate;
}

#square2 {
  transform-origin: center center;
  transform-box: fill-box;
  -webkit-animation: rotate2 3s ease-in infinite alternate;
          animation: rotate2 3s ease-in infinite alternate;
}

#square3 {
  transform-origin: center center;
  transform-box: fill-box;
  -webkit-animation: rotate3 5s ease-in infinite alternate;
          animation: rotate3 5s ease-in infinite alternate;
}

.foot {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
}
.foot::after {
  content: "";
  display: table;
  clear: both;
}

.foot div {
  filter: blur(0px);
}

/* CSS charged on animation and config of loading page */
.sec-load {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.screen-load { /* Position of page elements */
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #050607;
  position: fixed;
  display: flex;
  justify-content: center;
  -webkit-bot-align: center;
  align-items: center;
  pointer-events: none;
}

.screen-load svg {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 960px) {
  .screen-load svg {
    width: 100px;
    height: 100px;
  }
}
.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-IF1, .letter-IF2, .letter-IF3, .letter-IF4 {
  stroke-width: 30px;
  -webkit-animation: letterIF 2.5s ease forwards;
          animation: letterIF 2.5s ease forwards;
}

.letterIF-logo {
  width: 60px;
  height: 60px;
  transition: 3s ease;
}
.letterIF-logo:hover {
  transition: 3s ease;
  -webkit-animation: letterIF-logo 3.5s ease infinite;
          animation: letterIF-logo 3.5s ease infinite;
}

.stroke-logo {
  stroke-width: 40px;
}/*# sourceMappingURL=style.css.map */