*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import 'sass/_responsive.scss';
@import 'sass/_colors.scss';
@import 'sass/_grids.scss';
@import 'sass/_typography.scss';


body{

    width: 100%;

    background-color: #050607;

}


@media screen and (max-width:960px){

    body{

        background-color: #050607;

    }

    

}


@import 'sass/_spacing.scss';
@import 'sass/_animations.scss';
@import 'sass/_layout.scss';
@import 'sass/_swiper.scss';