@media screen and (max-width: 960px){

    .menu-left{

        display: none;

    }

    .menu-right{

        display: none;
        

    }

}

@media screen and (max-width: 960px) {
    
    .p-1 {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    line-height: 130%;
    font-weight: 200;
}

}

@media screen and (max-width: 960px) {

    .menu-hidden{

        display: none;

    }

}
