html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

h1, h2, h3, h4, h5, h6, a{

    font-family: 'Barlow Condensed', sans-serif;
    color: $white-normal;
    font-weight: 400;

}

a{

    text-decoration: none;

}

p{

    color: $gray-1;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 200;


}


.link {

    padding: 8px 24px;
    font-size: 24px;

    transition: 0.5s ease;

    display: inline-block;

    position: relative;

    &::after{

        content: '';
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0%;
        height: 1px;

        transform: translate(35%, -50%);
        transition: .5s ease;

        background-color: $white-normal;

    }

    &:hover{

        opacity: 0.6;

        &::after{
    
            width: 60%;
    
        }

    }

}


h1{
    
    font-size: 96px;
    line-height: 100%;
    
}

h2{
    
    font-size: 72px;
    line-height: 110%;
    
}


h3{

    font-size: 40px;
    line-height: 115%;
}

h4{
    
    font-size: 32px;
    line-height: 120%;
}

h5{
    
    font-size: 24px;
    line-height: 130%;
}

h6{
    
    font-size: 18px;
    line-height: 150%;
}

@media screen and (max-width: 960px){

    h1{

        font-family: 'Saira', sans-serif;
        font-size: 56px;
        line-height: 110%;
        font-weight: 400;


    }

    h2{

        font-family: 'Saira', sans-serif;
        font-size: 14px;
        line-height: 150%;
        font-weight: 500;


    }
    
    .work-h2 {

        font-family: 'Saira', sans-serif !important;
        font-size: 40px !important;
        line-height: 100% !important;
        font-weight: 300 !important;

    }

    h3{

        font-family: 'Saira', sans-serif;
        font-size: 24px;
        line-height: 130%;
        font-weight: 200;

    }

    h5 {

        font-family: 'Saira', sans-serif !important;
        font-size: 14px !important;
        line-height: 150% !important;
        font-weight: 500 !important;

    }

    .sect div h2 {

        font-family: 'Saira', sans-serif !important;
        font-size: 40px !important;
        line-height: 100% !important;
        font-weight: 300 !important;

    }

}

.mask{
    
    
    background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);
    transition: 0.5s ease;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.animate-hud1:hover{

    transition: 0.5s ease;
    transform: translate(-5%);
}

.animate-hud2:hover{

    transition: 0.5s ease;
    transform: translate(5%);
}


.text-center{

    text-align: center;

}

.text-right{

    text-align: right;

}

.square{

    display: inline-block;
    margin-top: 64px;

    font-size: 24px;

    padding: 16px 24px;
    position: relative;

    &::after{

        content: '';
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 120px;
        height: 120px;

        transform: translate(-5%, -22%) rotate(45deg);

        background: linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0) 100%);

        border-radius: 4px;
        transition: 0.5s ease;

    }

    &:hover{
        &::after{
    
            transform: translate(-5%, -22%) rotate(80deg);
    
        }

    }

}

.color-blue{

    color: $blue-normal;

}

//ICON SOCIAL

.icon-social-networks{

    max-width: 36px;
    transition: 0.5s ease;

}
