@use "../../styles/variables.scss" as *;

.about-section {
  width: 100%;
}

.aboutme {
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 24px;
  box-sizing: border-box;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  div {
    display: block;
    filter: blur(0px);
  }
  h2 {
    color: #f5f7f7;
    font-family: "Saira", sans-serif;
    font-size: 52px;
    line-height: 100%;
    font-weight: 300;
  }
  @media screen and (max-width: 960px) {
    flex-direction: column;
    padding: 32px 16px;
  }
}

.pp {
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 200;
  color: #777;
}

.grid-photos {
  max-height: 720px;
  @media screen and (max-width: 960px) {
    max-height: 480px;
  }
}

.grid-photo-1 {
  animation: grid-photo-1 10s ease infinite alternate;

  @media screen and (max-width: 960px) {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .photo {
      width: calc(50% - 8px); // Duas fotos lado a lado
      margin: 0 !important;
      padding: 3px !important;
    }
  }
}

@keyframes grid-photo-1 {
  0% {
    transform: translate3d(0, -23%, 0);
  }
  100% {
    transform: translate3d(0, 15%, 0);
  }
}

.blur1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 200;
  background:
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%);
}

.blur2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 200;
  transform: rotate(180deg);
  background:
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #050607 0%, rgba(5, 6, 7, 0) 100%);
}

.photo {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: 1s ease;
  &:hover {
    filter: grayscale(0);
  }
}
