// Cores baseadas no seu layout legado
$black-dark: #050607;
$black-light: #1a1a1a; // Ajuste se necessário
$white-light: #ffffff;
$white-normal: #f5f7f7;
$gray-1: #aaaaaa; // Ajuste se necessário
$blue-normal: #00b2ff;

// Mixins e outras variáveis podem ser adicionados aqui no futuro
$font-primary: "Mukta", sans-serif;
$font-secondary: "Saira", sans-serif;
